.account-page-wrapper {
    margin: 10px;
}

.singup-Header{
    color: #1B75E9;
    text-align: center;
}
.signupLogo{
    width: 75px;
    margin: 10px;
}
.signupCard{
    position: relative;
    top: 10px;
    max-width: 80%;
    align-content: center;
    margin: 0 auto; /* Added */
    float: none; /* Added */
}

.signup-form-Body-Container{
    width:80%;
    align-content: center;
    margin: 0 auto;
    float: none;
}
.signup-PersonalInfo{
    margin-bottom: 40px;
    
}
.signup-BusinessInfo{
    margin-top: 20px;
}

.signupBtn{
    margin-top:50px !important;
    margin-bottom: 50px !important;
}

.signup-form-Body-Container .col-md-6{
    height: 80px;
}

.signup-form-Body-Container .col-md-12 .input{
    height: 90px;
}
.signup-form-Body-Container .col-md-12 .textArea{
    height: 250px;
}

