.band {
    width: 50%;
    max-width: 1240px;
    margin: 0 auto;
    /* padding-top: 37%; */
    display: grid;
    list-style-type:none;
    grid-template-columns: 1fr;
    grid-template-rows: auto; 
    grid-auto-rows: 1fr;
    /* grid-gap: 20px; */
    column-gap: 70px;
    row-gap: 17px;
  }

 @media only screen and (max-width: 529px) {
  .userInfo h3{
    font-size: .9em;
  }
  
  .userInfo *{
    font-size: .9em;
  }

  .menu-card::after{
    font-size: 0.6em;
    top: -100%;
  }
  .menu-card .thumb{
    background-size: 200%!important;
  }
 }

 @media only screen and (min-width: 530px) {
  .band {
    grid-template-columns: 1fr 1fr;
    /* padding-top: 22%; */
    width: 55%;
    column-gap: 80px;
  }
}
  
  @media only screen and (min-width: 800px) {
    .band {
      grid-template-columns: 1fr 1fr;
      /* padding-top: 22%; */
      width: 55%;
      column-gap: 90px;
    }

    .menu-card .thumb{
      background-size: 60%!important;
    }
    
  }
  
  @media only screen and (min-width: 1200px) {
    .band {
      grid-template-columns: 1fr 1fr 1fr 1fr;
      grid-auto-rows: 1fr;
      padding-top: 4%;
      width: 100%;
      padding-left: 0;
      column-gap: 70px;
    }
    .menu-card .thumb{
      background-size: 60%!important;
    }
  }
  
  
  .menu-card {
    background: white;
    text-decoration: none;
    color: #444;
    box-shadow: 0 px 25px rgba(0,0,0,0.1);
    display: flex;
    flex-direction: column;
    min-height: 100%;
    position: relative;
    top: 0;
    transition: all .1s ease-in;
    border: 2px solid transparent;
  }
  
  .menu-card:hover {
    /* top: -2px; */
    box-shadow: 0 4px 25px rgba(0,0,0,0.2);
    border: 2px solid #0E72EC;
    border-radius: 5px;
  }
  
  .menu-card article {
    height: 50px;
    padding: 20px;
  }
  
  .menu-card .thumb {
    padding-bottom: 120%;
    background-size: 300%;
    background-position: center center;
    background-repeat: no-repeat;
  }
  
  /* typography */
  .menu-card h1 {
    font-size: 20px;
    margin: 0;
    color: #333;
  }
  
  .menu-card p { 
    line-height: 1.4;
  }

  ul.band li:nth-child(1) .thumb{
    background-image: url('./img/icon/new\ consultation.png');
  }

  ul.band li:nth-child(2) .thumb{
    background-image: url('./img/icon/medical\ history.png');
  }
  /* ul.band li:nth-child(3) .thumb{
    background-image: url('./img/icon/health\ goals.png');
  } */
  ul.band li:nth-child(3) .thumb{
    background-image: url('./img/icon/past\ consultation.png');
  }
  ul.band li:nth-child(4) .thumb{
    background-image: url('./img/icon/Send\ doc2.png');
  }

  
  .menu-card span {
    font-size: 12px;
    font-weight: bold;
    color: #999;
    text-transform: uppercase;
    letter-spacing: .05em;
    margin: 2em 0 0 0;
  }

.patient-age{
  margin-bottom: 10px;
}

.menu-card::after{
  content: attr(menutitle);
  margin: 0 auto!important;
  position: relative;
  top: -35px;
  display: block;
  color: #555;
}